<html>
  <%- include("./partials/head.ejs") %>

  <body>
    <%- include("./partials/nav.ejs") %>

    <section class="about">
      <h2>About Mazi Blog</h2>
      <p>
        I am Madu Chichebe DArlington, I am an intermediate JAVASCRIPT
        developer. I use a stack known as MERN stack; I am the one that design
        and developed this app the the knoledge i have in HTML, CSS and
        JAVASCRIPT.
      </p>
      <p>
        I can design a WEB APP of any kind, contact me on
        <span>09166458962</span>
      </p>
      <p>Email: chichebewebdev@gmail.com</p>
    </section>

    <%- include("./partials/footer.ejs") %>
  </body>
</html>
