<html>
<%- include("./partials/head.ejs") %>

<body>

<%- include("./partials/nav.ejs") %>

        <div>
            <h2>About Mazi Blog</h2>
            <p>lorem jhsxgcddsuffqeg;yrfjhfjuyeyfuug'fwkf</p>
            <p>lorem jhsxgcddsuffqeg;yrfjhfjuyeyfuug'fwkf</p>
            <p>lorem jhsxgcddsuffqeg;yrfjhfjuyeyfuug'fwkf</p>
        </div>

<%- include("./partials/footer.ejs") %>

</body>
</html>